.nav {
    margin-top: 50px;
    grid-area: n;
    background-color: orange;
    border-radius: 20px;

  }
.item {
    margin-left: 10px;
    text-decoration: none;
    color:white;
    font-size: 30px;
}

a.active{
    margin-left: 10px;
    color: darkred;
    text-decoration: none;
}

